body{
	font-family: Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	color: #222222;
}

.clearfix:after{
	content:'';
	display: table;
	width: 100%;
	clear: both; 
}

div{
	box-sizing: border-box;
}


header{
	background: url(../img/first-bg.jpg) no-repeat center top / cover;
	padding-bottom: 160px;
}

.container{
	width: 930px;
	margin: 0 auto;
}

.logo{
		margin-top: 41px;
		float: left;
	}

nav{
	margin-top: 50;  
	float: right;
}

.menu{
	padding: 0;
	margin: 0;
	display: block;
 }

.menu li {
	float: left;
	display: block;
	margin-right: 41px;

}

.menu  a {
	color: #fff;
	text-decoration: none; 
	text-transform:	uppercase;
	font-size: 14px;
}

.title__first{
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-top: 180px;
	
}

h1{
	font-size: 75px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin: 15px	;
}

.button{
	background: #fed136;
	color: #484543;
	border-radius: 3px;
	display:block;
	width:240px;
	padding:20px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-top: 50px;
 
}
.title{
	padding-top:115px;
}

.title h2{
 	font-size: 40px;
 	font-weight: bold;
 	text-align: center;
 	text-transform: uppercase;
	margin: 0;

}
.title p{
	color: #777777;
	text-align: center;
	font-size: 16px;
	margin-top: 5px;

}
.services{
	margin-top: 50px;
	
}
.services__item{
	width:270px;
	float:left;
	text-align: center;
}

.services__item h3  {
	font-size: 18px;
	margin-bottom: 5px;
}

.services__item p{
	font-size: 14px;
	color:#777777;
	line-height: 1.55em;
}
.services__item:last-child{ /* last-child - обращение к последнему элементу */
	float: right;
}
.services__item:nth-child(2){ /* nth-child - обращение к n-тому элементу  */
	margin-left:60px; 
}
#services{
	padding-bottom: 130px;
}

#portfolio{                     /*-- # означает обращение к id */
	background: rgb(230, 228, 230);
}
.works img{
	float: left;
	margin-top: 75px;
	margin-bottom: 120px;
} 	
 
.works img:last-child{
	float: right;
}
.works img:nth-child(2){
	margin-left: 27px;
}
.about img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 100px;
}
.about h3{
	font-weight: bold;
}
.upper{
	text-transform: uppercase;
}
.about__block{
	font-size: 14px;
	color:#777777;
	line-height: 1.55em;
}

.center-block {		
    display: block;
    margin-left: auto;
    margin-right: auto;
}